<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Uploader</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/modal.js" defer></script>
</head>
<body>
<%= console.trace(currentUser.fullname) %>
<%- include("partials/add-folder-modal.ejs") %>

<% if (currentUser) {%>
    <div class="top-bar">
            <div class="empty"></div>
            <h1><%= currentUser.fullname %>'s File Uploader</h1>
            <a class="log-out-file" href="/log-out">Log out</a>
    </div>
    <div class="file-page">
        <div class="folder-section">
            <div class="top-box">
                <h2 class="folder-title">Files:</h2>
                <button class="new-folder-btn">New folder</button>
            </div>
            <div class="folder-box">
                <div class="folders-list">
                    <% folders.forEach((folder) => { %>
                        <!-- now when you click it, it has a param you can use to look up info -->
                        <a class="folder" href="/folder/<%= folder.id %>" >
                            <img class="folder-icon" src="/images/folder.svg" alt="Stock image of a folder">
                            <span class="folder-name"><%= folder.name %></span>
                        </a> 
                    <% }) %>
                </div>
            </div>
        </div>       
    </div>
<% } %>
  
</body>
</html>