<!-- file page with specific folder info
 exactly like the file page but using the details from the folder param
 probably a better way to do this.... -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Uploader</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/modal.js" defer></script>
</head>
<body>
<%- include("partials/add-file-modal.ejs") %>

<% if (currentUser) {%>
    <div class="top-bar">
            <a class="back-to-folders" href="/file-page">Back</a>
            <h1><%= currentUser.fullname %>'s Files</h1>
            <a class="log-out-file" href="/log-out">Log out</a>
    </div>
    <div class="file-page">
        <div class="folder-section">
            <div class="top-box">
                <h2 class="folder-title">Files:</h2>
                <div class="folder-options">
                    <button class="new-folder-btn">Upload file</button>
                    <a href="/delete/<%= folderId %>" class="delete-folder">Delete this folder</a>
                </div>
            </div>
            <div class="folder-box">
                <div class="folders-list">
                    <% returnedFiles.files.forEach((file) => { %>
                        <!-- now when you click it, it has a param you can use to look up info -->
                        <a class="folder" href="/folder/file/<%= file.id %>" >
                            <img class="file-icon" src="/images/file.svg" alt="Stock image of a folder">
                            <span class="folder-name"><%= file.name %></span>
                        </a> 
                    <% }) %>
                </div>
            </div>
        </div>        
    </div>
<% } %>
  
</body>
</html>